@import './../mixins.scss';

app-panel {
    align-items: center;
    flex: 1 1 100%;
    @include flex-row();
    max-width: 18%;
}

app-calendar {
    flex: 1 1 100%;
    @include flex-column();
}
