/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'mixins.scss';

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    background-color: #EEEEEE;
    @include flex-row();
    height: 100vh;
    margin: 0;
    width: 100vw;

    app-root {
        @include flex();
        @include flex-row();
        margin: 0;
    }

    @media only screen and (max-width: 668px) and (orientation: portrait) {
        app-root {
            @include flex-column();
        }
    }

    @media only screen and (min-width: 992px) {
        app-root {
            @include flex-row();
            margin: 5%;
        }
    }
}
