/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'mixins.scss';


html, body {
    background-color: #EEEEEE;
    @include flex-row();
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    width: 100vw;

    app-root {
        @include flex();
        @include flex-row();
        margin: 5%;
    }
}
