@import './../../mixins.scss';

header {
    align-items: center;
    background-color: #3F51B5;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    @include flex-row();
    font-size: 2vh;
    height: 5%;

    span {
        @include flex();
        text-align: center;
    }

    a {
        align-items: center;
        background-color: transparent;
        border: 0;
        color: #FFFFFF;
        @include flex();
        @include flex-row();
        height: 100%;
        justify-content: center;
        max-width: 10%;
        text-align: center;

        &:last-child {
            border-top-right-radius: 15px;
        }

        &:hover {
            background-color: #303F9F;
            cursor: pointer;
        }
    }
}

table {
    background-color: #FFFFFF;
    border-bottom-right-radius: 15px;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    @include flex-column();
    height: 95%;
    justify-content: center;
    table-layout: fixed;
    width: 100%;

    thead {
        @include flex-row();
        justify-content: center;

        th {
            @include flex();
        }
    }

    tbody {
        @include flex();
        @include flex-column();
        justify-content: center;

        tr {
            @include flex();
            @include flex-row();
            justify-content: center;
            width: 100%;

            td {
                border: rgba($color: #000000, $alpha: 0.07) solid 1px;
                @include flex();
                @include flex-column();
                max-width: 13.5%;

                ul {
                    align-items: center;
                    @include flex();
                    @include flex-column();
                    justify-content: center;
                    list-style-type: none;
                    margin: 5px 0;
                    padding: 0;

                    li {
                        align-items: center;
                        @include flex-row();

                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.day {
    height: 30px;
    line-height: 30px;
}

.currentDay {
    background-color: #448AFF;
    border-radius: 50px;
    color: white;
    // font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.inactiveMonth {
    color: #BDBDBD;
}

@media only screen and (max-width: 992px) {
    .hide-on-small {
        display: none;
    }
}

@media only screen and (max-width: 668px) and (orientation: portrait) {
    header {
        height: 10%;
        border-top-right-radius: 0;

        span {
            font-size: 1.5rem;
        }

        a {
            max-width: 15%;

            &:last-child {
                border-top-right-radius: 0;
            }
        }
    }

    table {
        border-bottom-left-radius: 15px;
        tbody > tr > td > ul > li > i {
            margin-right: 0;
        }
    }
}
