<ul>

    <li>
        Saldo de {{ month }} {{ closingPeriod }}:
    </li>

    <li>
        <div class="container">
            <span class="hours">
                <div class="tooltip">
                    <i class="material-icons">access_time</i> {{ hours }}
                    <div class="tooltiptext">
                        <div class="greenbox">
                            <i class="material-icons">access_time</i> Horas positivas
                        </div>
                        <div class="redbox">
                            <i class="material-icons">access_time</i> Horas negativas
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </li>

</ul>
